* { 
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;

}

img {
    width: 800px;
    height: 700px;
    border-radius: 20px;

}


main {
    width: 100vw;
    margin-top: 50px;
    

}

#listings {
    display: flex;
    flex-flow: row;
    max-width: 1500px;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative
   


}

.listing {
    margin: 20px;
    border: none;
    border-radius: 20px;
    width: 100%;
    height: 500px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px;
    background-color: white;
    font-size: 18px;

    
}

.details {
    margin-top: 10px;
    

}

header {
    height: 50px;
    width: 100vw;
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    z-index: 10;


}

.classification {
    font-style: italic;
}

.header-container {
    
    height: 50px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.name {
    font-weight: bold;
    font-size: 24px;
}

.details-container {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 300px;
    width: 500px;
}

p {
    padding: 5px;
    border-bottom: 1px dashed lightgray;
    width: 100%;
    align-items: center;
    display: block;
}

.links-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}

.reco {
    font-weight: bold;
   
}

.prop-img {
    width: 800px;
    height: 500px;
    
}

iframe {
    margin-top: 20px;
    width: 1500px;
   margin-bottom: 50px;
}


.listing-container{
    visibility: hidden;
    height: 800px;
    width: 100%;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 20px;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0ms opacity ease-in-out;
    transition-delay: 200ms;
    opacity: 0%;

}


#active-slide {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    opacity: 100%;
    transition: 200ms opacity ease-in-out;
    transition-delay: 0ms;
    
    
    
}


button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 2rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);

}


.previous {
    left: 4rem;
}

.next {
    right: 4rem;
}
li {
    list-style: none;
}

@media only screen and (max-width: 800px) {

    main {
        height: 100vh;
    }
    header {
        width: 100%;
    }
    
    .header-container {
        width: 100vw;
        margin: auto;
        font-size: 1rem;
        justify-content: space-between;
    }

    .listing-container {
       
    }
    .listing {
        margin: 0;
        padding: 5px;
        display: flex;
        flex-flow: column;
        width: 100vw;
    }

    .prop-img {
        width: 98vw;
        height: 100vh;
    }

    .details-container {
        width: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .links-container {
        display: flex;
        width: 100vw;
        justify-content: space-around;

    }

    p { 
        margin: 0;
        font-size: 1rem;
        height: auto;
       
    }

  

    .property-number {
       text-align: center;
    }

    iframe {
        width: 100%;
        height: 200px;
       
        
        
        
    }

    button {
        position: absolute;
        z-index: 2;
        background: none;
        border: none;
        font-size: 2rem;
        top: 100px;
        transform: translateY(-50%);
        color: rgba(255, 255, 255, .5);
        cursor: pointer;
        border-radius: .25rem;
        padding: 0 .5rem;
        background-color: rgba(0, 0, 0, .1);
    
    }

    
.previous {
    left: 2rem;
}

.next {
    right: 2rem;
}
  }