* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}


header {
    height: 50px;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 2;


}

.header-container {
    height: 50px;
    max-width: 1200px;
    margin: auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

main {
    width: 100%;
    

}


.button-container {
    position: relative;
    z-index: 10;
    top: 100px;
}

button {
    background-color: gray;
    opacity: .8;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.previous {
    position: absolute;
    left: 1rem;
    
}

.next {
    position: absolute;
    right: 1rem;
}

#listings {
    max-width: 1200px;
    margin: auto;
}

.listing-container {
    background-color: white;
    visibility: hidden;
    margin-top: 100px;
    width: 1200px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: absolute;


}

#active-slide {
    visibility: visible;
    

}

.listing {
    
    width: 1100px;
    display: flex;
    justify-content: space-between;
    

}

.prop-img {
    height: 500px;
    width: 700px;
    background-color: lightblue;

}

.details-container {
    width: 350px;

}

.details  {
    margin-top: 5px;
    border-bottom: dashed 1px lightgray;
    padding: 3px;
}

.name {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;

}

.classification {
    font-style: italic;
}

.links-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.property-number {
    padding: 10px;
}


iframe {
    width: 1100px;
}




@media screen and (max-width: 800px) {
    .button-container {
        top: 550px;
    }
    .listing-container {
        max-width: 98vw;
    }
    .listing {
        max-width: 98vw;
        flex-flow: column;
    }

    .prop-img {
        max-width: 98vw;
    
    }

    iframe {
        max-width: 98vw;
    }

  }